@import "tailwindcss";


.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll::-webkit-scrollbar{
  display: none;
}
.scroll {
  scrollbar-width: none;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
    width: 30%;
  }

  50% {
    width: 60%;
  }

  100% {
    transform: translateX(350%);
    width: 30%;
  }
}

.animate-slide {
  animation: slide 1.4s infinite ease-in-out;
}

.left {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #121212;
}

.left::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.left::-webkit-scrollbar-track {
  background: #121212;
}

.left::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 10px;
}

.left::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}